.nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  z-index: 30;
  min-height: calc(100vh - 75px);
  min-width: 100%;
  background: var(--backgroundColor);
  padding: 24px;
  font-size: 15px;
  letter-spacing: 1px;
  color: var(--white);
}

.navLink {
  position: relative;
  border-bottom: 1px solid var(--borderColor);
  padding: 20px 0;
}

.navLink:last-of-type {
  border: none;
}

@media (min-width: 768px) {
  .nav {
    color: var(--textColor2);
    flex-direction: row;
    position: static;
    min-height: fit-content;
    justify-content: center;
    gap: 33px;
    padding: 0;
    font-size: 11px;
  }

  .navlink {
    padding: 0;
    border: none;
    display: block;
    margin: 27px 0;
    line-height: 25px;
  }

  .navLink:hover {
    color: var(--white);
  }
}

@media (min-width: 1024px) {
  .nav {
    min-width: fit-content;
    flex-basis: 66.6666%;
    justify-content: end;
    padding-right: 44px;
  }

  .navLink::before {
    content: '';
    position: absolute;
    top: -27px;
    height: 4px;
    width: 100%;
  }
  .navLink::before:hover {
    background: var(--earthColor);
  }
}
