.header {
  min-height: 100vh;
}

@media (min-width: 768px) {
  .header {
    min-height: fit-content;
    border-bottom: 1px solid var(--borderColor);
  }
}

@media (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: row;
  }
}
