.nav {
  display: flex;
  grid-area: 1/1;
  justify-content: space-around;
  border-bottom: 1px solid var(--borderColor);
  color: var(--textColor1);
  font-weight: 700;
  font-size: 8px;
  font-family: 'Spartan';
  letter-spacing: 2px;
  text-transform: uppercase;
}
