.navLink {
  display: flex;
  position: relative;
  align-items: center;
  border-bottom: 1px solid var(--borderColor);
  padding: 20px 0;
}

.navLink:last-of-type {
  border: none;
}

.dot {
  display: block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 25px;
}

.iconChevron {
  position: absolute;
  right: 8px;
}

@media (min-width: 768px) {
  .navLink {
    display: block;
    margin: 39px 0 27px;
    border: none;
    padding: 0;
    line-height: 25px;
  }

  .navLink:hover {
    color: var(--white);
  }

  .dot {
    display: none;
  }

  .iconChevron {
    display: none;
  }
}

@media (min-width: 1024px) {
  .navLink {
    margin-top: 33px;
    transition: color 0.15s ease-in;
  }

  .navLink::before {
    position: absolute;
    top: -33px;
    width: 100%;
    height: 4px;
    content: '';
    transition: background 0.15s ease-in;
  }
}
