.heading {
  padding: 0 24px;
  font-weight: 700;
  font-family: 'Spartan';
  text-align: center;
}

.title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 40px;
  font-family: 'Antonio';
}

.description {
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
}

.source {
  display: block;
  margin-top: 32px;
  color: var(--textColor1);
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
}

.wikipedia {
  color: var(--textColor2);
  font-weight: 700;
  text-decoration: underline;
}

.icon {
  margin-left: 6px;
}

@media (min-width: 768px) {
  .heading {
    grid-row: 2/3;
    grid-column: 1 / 2;
    padding: 0 20px 0 40px;
    text-align: left;
  }

  .title {
    font-size: 48px;
  }
}
