.button {
  position: relative;
  padding: 20px 0;
  cursor: pointer;
}

.button::before {
  position: absolute;
  bottom: 0;
  content: '';
  height: 4px;
  width: 100%;
  transition: background 0.15s ease-in;
}
