.statistic {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  border: 1px solid var(--borderColor);
  padding: 9px 24px 13px;
  text-transform: uppercase;
}

.statistic:last-of-type {
  margin-bottom: 0;
}

.titleStatistic {
  color: var(--textColor1);
  font-weight: 700;
  font-size: 8px;
  line-height: 16px;
  letter-spacing: 0.75px;
}

.dataStatistic {
  font-size: 20px;
  font-family: 'Antonio';
  letter-spacing: -0.75px;
}

@media (min-width: 768px) {
  .statistic {
    flex-direction: column;
    gap: 6px;
    margin-bottom: 0;
    padding: 15px 15px 20px;
    width: 100%;
  }

  .dataStatistic {
    font-size: 24px;
  }
}
