@font-face {
  font-family: 'Antonio';
  src: url('./fonts/Antonio-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Spartan';
  src: url('./fonts/Spartan-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Spartan';
  src: url('./fonts/Spartan-Bold.ttf');
  font-weight: 700;
}

:root {
  --white: rgba(255, 255, 255, 1);
  --backgroundColor: rgba(7, 7, 36, 1);
  --borderColor: rgba(56, 56, 79, 1);
  --textColor1: rgba(131, 131, 145, 1);
  --textColor2: rgba(193, 193, 200, 1);
  --mercuryColor: rgba(222, 244, 252, 1);
  --venusColor: rgba(247, 204, 127, 1);
  --earthColor: rgba(84, 91, 254, 1);
  --marsColor: rgba(255, 106, 69, 1);
  --jupiterColor: rgba(205, 173, 122, 1);
  --saturnColor: rgba(252, 203, 107, 1);
  --uranusColor: rgba(101, 240, 213, 1);
  --neptuneColor: rgba(73, 126, 250, 1);
}

html {
  font-family: 'Spartan';
  font-weight: 700;
  color: var(--white);
}

body {
  background: url('./assets/background-stars.svg');
  background-color: var(--backgroundColor);
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.overflowHidden {
  overflow: hidden;
}

.active {
  color: var(--white);
}

.mercuryColor.active::before,
.mercuryColor:hover::before,
.mercuryColorBtn.active::before,
.mercuryColorBtn:hover::before {
  background: var(--mercuryColor);
}

.venusColor.active::before,
.venusColor:hover::before,
.venusColorBtn.active::before,
.venusColorBtn:hover::before {
  background: var(--venusColor);
}

.earthColor.active::before,
.earthColor:hover::before,
.earthColorBtn.active::before,
.earthColorBtn:hover::before {
  background: var(--earthColor);
}

.marsColor.active::before,
.marsColor:hover::before,
.marsColorBtn.active::before,
.marsColorBtn:hover::before {
  background: var(--marsColor);
}

.jupiterColor.active::before,
.jupiterColor:hover::before,
.jupiterColorBtn.active::before,
.jupiterColorBtn:hover::before {
  background: var(--jupiterColor);
}

.saturnColor.active::before,
.saturnColor:hover::before,
.saturnColorBtn.active::before,
.saturnColorBtn:hover::before {
  background: var(--saturnColor);
}

.uranusColor.active::before,
.uranusColor:hover::before,
.uranusColorBtn.active::before,
.uranusColorBtn:hover::before {
  background: var(--uranusColor);
}

.neptuneColor.active::before,
.neptuneColor:hover::before,
.neptuneColorBtn.active::before,
.neptuneColorBtn:hover::before {
  background: var(--neptuneColor);
}
